Requirements for our project

We are a book management company

BOOKS
ISBN, title, pub date, lang, num page, author[], catogory[].

AUTHORS
id, name, books[]

PUBLICATION
id, name, book[]

We have to desgin and code an API over this -

BOOKS
*To get all the books - DONE
*To get specific book - DONE
*To get a list of books based on catogory - DONE
*To get a list of books based on languages - DONE

AUTHORS
*To get all the authors - DONE
*To get a specific author based on id - DONE
*To get a list of authors based on books - DONE

PUBLICATIONS
*To get all the publications - DONE
*To get a specific publication - DONE
*To get a list of publications based on a book  - DONE
